footer {
    background: url("/assets/img/bg-footer.jpg") center/cover;
    height: 320px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    @media screen and (max-width: 780px) {
        background: $bgcolor2;
    }
    .content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        color: $color1;
        line-height: 40px;
        div {
            color: $color3;
            font-size: 3rem;
            font-family: $font1;
            margin-bottom: 20px;
        }
        p {
            color: rgba(255, 255, 255, 0.7);
            font-size: 1.2rem;
            font-family: $font3;
        }
        @media screen and (max-width: 780px) {
            display: none;
            text-align: center;
        }
    }
    .content-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 93%;
        color: $color1;
        line-height: 40px;
        h3 {
            text-transform: uppercase;
            font-family: $font2;
            font-weight: 100;
        }
        input {
            width: 310px;
            background: none;
            padding: 10px 20px;
            border: 1px solid rgba(255, 255, 255, 0.107);
            font-family: $font2;
            font-size: 1rem;
            margin-bottom: 50px;
        }
        div:nth-child(2) {
            display: flex;
            ul {
                display: flex;
                li {
                    i {
                        color: rgba(255, 255, 255, 0.7);
                        margin: 0 0 0 40px;
                        @media screen and (max-width: 440px) {
                            margin: 0 0 0 20px;
                        }
                        @media screen and (max-width: 420px) {
                            margin: 0 0 0 10px;
                        }
                    }
                }
            }
        }
        @media screen and (max-width: 780px) {
            width: 400px;
            margin-left: 20px;
        }
        @media screen and (max-width: 440px) {
            width: 300px;
        }
        @media screen and (max-width: 420px) {
            width: 200px;
        }
    }
}