.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: $bgcolor1;
    ;
    .content-left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: 1px dashed $color3;
        margin: 15px;
        padding: 30px 25px;
        span {
            @include discover;
        }
        h2 {
            font-family: $font2;
            font-size: 1.5rem;
            text-transform: uppercase;
            transform: translateY(-20px);
        }
        .img-ico2 {
            @include img-ico2;
        }
        p {
            font-size: 1.3rem;
            font-family: $font3;
            text-align: center;
        }
        .avatar01 {
            height: 90px;
            width: 90px;
            border-radius: 100px;
            background: url(/assets/img/avatar-01.jpg) center/cover;
            margin: 25px 0 20px;
        }
    }
    dl {
        text-align: center;
        dt {
            font-size: 1.3rem;
            font-family: $font2;
        }
        dd {
            font-family: $font3;
            color: $color2;
            font-size: 0.9rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .content-right {
        background: url("/assets/img/store-01.jpg") center/cover;
    }
}

.section2 {
    background: $bgcolor2;
    .content-top {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        span {
            margin: 70px 0 20px;
            @include discover;
        }
        .img-ico2 {
            @include img-ico2;
        }
        ul {
            display: flex;
            justify-content: space-around;
            color: $color1;
            font-family: $font3;
            font-size: 1.2rem;
            width: 50%;
            li {
                border-bottom: 1px solid rgba(255, 255, 255, 0.7);
                padding-bottom: 10px;
            }
        }
    }
    .bgmenu {
        position: absolute;
        background: url("/assets/img/bg-menu-01.jpg") center/cover;
        width: 100%;
        height: 100%;
        transform: translateY(200px);
    }
    .menu {
        position: relative;
        display: flex;
        justify-content: space-around;
        background: $bgcolor1;
        width: 52%;
        margin: 30px auto;
        border-top: 5px solid rgb(166, 114, 69);
        dt {
            font-family: $font2;
            text-transform: uppercase;
        }
        dd {
            font-family: $font3;
            font-size: 1.3rem;
        }
        p {
            font-size: 1.5rem;
            font-family: $font3;
            font-weight: bold;
            color: rgb(166, 114, 69);
        }
        .menu-left {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-bottom: 15px;
            .menu-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                margin: 5px auto;
                border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
                padding-bottom: 20px;
            }
            .item1 {
                @include items;
                background: $item1;
            }
            .item3 {
                @include items;
                background: $item3;
            }
            .item5 {
                @include items;
                background: $item5;
            }
            .item7 {
                @include items;
                background: $item7;
            }
        }
        .menu-right {
            display: flex;
            flex-direction: column;
            width: 100%;
            .menu-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
                margin: 5px auto;
                border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
                padding-bottom: 20px;
            }
            .item2 {
                @include items;
                background: $item2;
            }
            .item4 {
                @include items;
                background: $item4;
            }
            .item6 {
                @include items;
                background: $item6;
            }
            .item8 {
                @include items;
                background: $item8;
            }
        }
    }
}

.section3 {
    padding-top: 300px;
    background: $bgcolor2;
    @include center;
    text-align: center;
    .content {
        margin-top: 80px;
        background: black;
        display: grid;
        grid-template-columns: 30% 70%;
        width: 70%;
    }
    .content-left {
        color: $color1;
        margin: 30px;
        border: 1px dashed rgba(238, 238, 238, 1);
        span {
            font-family: $font1;
            font-size: 3rem;
            color: $color3;
            line-height: 100px;
        }
        h2 {
            text-transform: uppercase;
            font-family: $font2;
            font-size: 1.8rem;
            transform: translateY(-40px);
        }
        .img-ico2 {
            @include img-ico2;
            margin: 0 auto 50px;
        }
        h3 {
            text-transform: uppercase;
            color: $color3;
            font-family: $font2;
            font-weight: 300;
            font-size: 1.5rem;
        }
        p {
            font-family: $font3;
            font-size: 1.1rem;
            margin: 20px 0 50px;
        }
        h3:last-child {
            margin-bottom: 50px;
        }
    }
    .content-right {
        background: $bgcolor1;
        span {
            font-family: $font1;
            font-size: 3rem;
            color: $color3;
            line-height: 250px;
        }
        .img-ico2 {
            @include img-ico2;
            margin: 0 auto 50px;
            transform: translateY(-80px);
        }
        h2 {
            text-transform: uppercase;
            font-family: $font2;
            font-size: 2.2rem;
            transform: translateY(-115px);
        }
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 80%;
        margin: 0 auto;
    }
    select,
    input {
        font-size: 1rem;
        background: none;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.244);
        padding: 30px 0px;
        margin: 0 15px;
        transform: translateY(-90px);
    }
    .btn {
        color: $color1;
        text-transform: uppercase;
        font-family: $font2;
        font-size: 1rem;
        background-color: rgb(30, 30, 30);
        margin-top: 50px;
        padding: 15px 40px;
        border-radius: 30px;
        letter-spacing: 5px;
        transition: 0.4s;
        &:hover {
            color: rgb(30, 30, 30);
            background: $color2;
        }
    }
}