.section4 {
    padding: 125px 0 40px;
    background: $bgcolor2;
    text-align: center;
    .content-top {
        span {
            font-family: $font1;
            font-size: 3rem;
            color: $color3;
            line-height: 100px;
        }
        h2 {
            color: $color1;
            font-family: $font2;
            text-transform: uppercase;
            font-size: 2.6rem;
            transform: translateY(-38px);
        }
        .img-ico2 {
            @include img-ico2;
            margin: 0 auto 30px;
        }
    }
    .content-bottom {
        // background: rgb(238, 238, 238);
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-areas: "one three" "two three";
        width: 66%;
        min-height: 500px;
        margin: 0 auto;
        .top-left {
            grid-area: one;
            display: flex;
            margin: 10px 10px;
            background: rgb(238, 238, 238);
            div:nth-child(1) {
                background: url("/assets/img/event-01.jpg") center/cover;
                height: 100%;
                width: 280px;
                @include center;
                flex-direction: column;
                @include date-event1-2;
            }
            div:nth-child(2) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                width: 57%;
                line-height: 50px;
                margin: 0 auto;
                dt {
                    text-align: left;
                    font-family: $font3;
                    font-size: 1.9rem;
                }
                dd {
                    color: rgba(128, 128, 128, 0.5);
                    font-family: $font3;
                    font-size: 1.2rem;
                    letter-spacing: 2px;
                }
                p {
                    font-family: $font3;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
            }
        }
        .bottom-left {
            grid-area: two;
            display: flex;
            margin: 10px 10px;
            background: rgb(238, 238, 238);
            div:nth-child(1) {
                background: url("/assets/img/event-02.jpg") center/cover;
                height: 100%;
                width: 280px;
                @include center;
                flex-direction: column;
                @include date-event1-2;
            }
            div:nth-child(2) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                line-height: 50px;
                width: 57%;
                margin: 0 auto;
                dt {
                    text-align: left;
                    font-family: $font3;
                    font-size: 1.9rem;
                }
                dd {
                    font-family: $font3;
                    color: rgba(128, 128, 128, 0.5);
                    font-size: 1.2rem;
                    letter-spacing: 2px;
                }
                p {
                    font-family: $font3;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
            }
        }
        .content-right {
            grid-area: three;
            margin: 10px;
            background: url(/assets/img/event-03.jpg) center/cover;
            @include center;
            .container {
                background: $bgcolor1;
                height: 87%;
                width: 87%;
                @include date-event3;
                div:nth-child(2) {
                    height: 308px;
                    @include center;
                    flex-direction: column;
                    dt {
                        text-align: center;
                        font-family: $font3;
                        font-size: 1.9rem;
                        transform: translateY(-70%);
                    }
                    dd {
                        font-family: $font3;
                        color: rgba(128, 128, 128, 0.5);
                        font-size: 1.2rem;
                        letter-spacing: 1px;
                        transform: translateY(-120%);
                    }
                    p {
                        font-family: $font3;
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        transform: translateY(250%);
                    }
                }
            }
        }
    }
}