.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: $bgcolor1;
    @media screen and(max-width: 800px) {
        display: grid;
        grid-template-columns: 1fr;
    }
    .content-left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: 1px dashed $color3;
        margin: 15px;
        padding: 30px 25px;
        span {
            @include discover;
        }
        h2 {
            font-family: $font2;
            font-size: 1.5rem;
            text-transform: uppercase;
            transform: translateY(-20px);
        }
        .img-ico2 {
            @include img-ico2;
        }
        p {
            font-size: 1.3rem;
            font-family: $font3;
            text-align: center;
        }
        .avatar01 {
            @include avatar;
            background: url("/assets/img/avatar-01.jpg") center/cover;
        }
        dl {
            text-align: center;
            dt {
                font-size: 1.3rem;
                font-family: $font2;
            }
            dd {
                font-family: $font3;
                color: $color2;
                font-size: 0.9rem;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
    .content-right {
        background: url("/assets/img/store-01.jpg") center/cover;
        @media screen and(max-width: 800px) {
            position: absolute;
            display: none;
        }
    }
}